/** *** MODAL WINDOW STYLES *** */

/* background style */
.overlay__modal {
  background-color: rgba(0, 0, 0, 0.4);
}

/* modal content */
.modal {
  background: #FFFFFF;
  box-shadow: 0 2px 15px rgba(33, 33, 33, 0.15);
  display: grid;
  grid-template-rows: 30px 1fr;
  padding: 10px;
  min-width: 300px;
  min-height: 300px;

  &__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__close-icon {
    width: 20px;
    height: 20px;
    background-color: black;
  }
}

.dialog__confirm {
  display: grid;
  align-items: center;
  grid-gap: @gap;
  height: 100%;
  overflow-wrap: break-word;
  text-align: center;
  width: 350px;

  h3 {
    font-size: 1.5em;
    font-weight: 200;
  }

  colored-icon {
    font-size: 2em;
  }

  button {
    width: 70%;
    justify-self: center;
  }
}


