.dnd {
  &__wrapper {
    width: 30vw;
    height: 30vh;
    border: 1px dashed #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    input {
      display: none;
    }
  }

  &__caption {
    font-size: 20px;
    font-weight: 500;
  }

  &__upload-file {
    background-color: gray;
    cursor: pointer;
  }
}
