.form {
  display: grid;
  grid-gap: @gap;

  &__field {
    display: grid;
    grid-gap: @gap / 2;
    width: 100%;

    &-errors {
      color: red;
    }

    &-radio {
      display: grid;
      grid-gap: @gap / 2;
      grid-auto-flow: column;

      &-item {
        display: flex;
        flex-direction: row;
      }
    }
  }

  &__buttons {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, auto);
    grid-gap: @gap;
    font-size: 1em;
  }
}
