<ng-container *ngIf="mainInfo">
  <div class="image__info-container">
    <colored-average-colors [colors]="mainInfo.colors"></colored-average-colors>
    <div class="image__info-item _title">
      <colored-editable-field [value]="mainInfo.title" [type]="'string'"
                              [styleClass]="'title'"
                              (valueChange)="onEdit('title', $event)"
      ></colored-editable-field>
      <div class="user-actions">
        <div class="flow-column">
          <colored-icon [materialIconName]="'favorite'" (clickAction)="onLikePhoto(mainInfo.id)"></colored-icon>
          <span>{{mainInfo.likes.count}}</span>
        </div>
        <div class="flow-column">
          <colored-icon [materialIconName]="'remove_red_eye'" (clickAction)="onUnlikePhoto(mainInfo.id)"></colored-icon>
          <span>{{mainInfo.views}}</span>
        </div>
      </div>
    </div>
    <div class="image__info-item _title">
      <colored-editable-field [value]="mainInfo.description" [type]="'text'"
                              (valueChange)="onEdit('description', $event)"
      ></colored-editable-field>
    </div>
  </div>
</ng-container>
