<div class="comments">
  <div class="comments__header _wrapper">
    <div class="comments__header-message">
      <textarea placeholder="Add comment..." (keypress)="addMessage($event)" #inputMessage></textarea>
    </div>
    <div class="comments__header-icon">
      <colored-icon [materialIconName]="'message'"></colored-icon>
    </div>
  </div>
  <div class="comments__messages _wrapper">
    <div class="message"
         *ngFor="let message of users$ | async; trackBy: trackByMessage"
         [ngClass]="{'_incoming': !message.outgoing}">
      <div class="message__avatar">
        <colored-avatar></colored-avatar>
      </div>
      <div class="message__username">
        <span>{{message.username}}</span>
      </div>
      <div class="message__comment">
        <span>{{message.message}}</span>
      </div>
      <div class="message__date">
        <span>{{message.date | date: 'MMM dd, yyyy'}}</span>
      </div>
    </div>
  </div>
</div>
